.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.decoration-benefits_moneybag {
  z-index: 5;
  position: absolute;
  top: 9%;
  left: auto;
  right: 26%;
}

.decoration-benefits_cudtomers {
  z-index: 6;
  position: absolute;
  top: auto;
  bottom: -14%;
  left: -6%;
  right: auto;
}

.decoration-benefits_lines-on-right {
  z-index: 5;
  position: absolute;
  top: -16%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.home-process-content_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 3rem;
  display: grid;
}

.decoration-benefits_shadow {
  max-width: 75%;
  position: absolute;
  top: 15%;
  bottom: 0%;
  left: 20%;
  right: auto;
}

.testimonial-decor-2 {
  z-index: 1;
  max-width: 35%;
  filter: hue-rotate(270deg);
  position: absolute;
  top: auto;
  bottom: -11%;
  left: -9%;
  right: auto;
}

.linebreak {
  display: block;
}

.home-benefits_product-images {
  width: 25rem;
  height: 15rem;
  position: relative;
}

.svg-arrow {
  width: 14vw;
  height: 14vw;
  color: #ff7526;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 100%;
}

.svg-arrow.bottom-left {
  width: 80px;
  height: 80px;
  top: 90%;
  left: auto;
  right: 83%;
  transform: rotate(180deg);
}

.svg-arrow.top-left {
  width: 115px;
  height: 115px;
  top: -3%;
  left: auto;
  right: 95%;
  transform: rotate(23deg);
}

.home-header-content-text {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.decoration-benefits-blue-box {
  z-index: 2;
  max-width: 75%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 10%;
  right: auto;
}

.section-divider {
  width: 100%;
  height: 1px;
  background-color: #e2e4e8;
  border-radius: 2px;
  margin-top: 6rem;
  margin-bottom: -5rem;
}

.testimonial-image-wrap {
  width: 40%;
  height: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.container-2 {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.container-2._660 {
  max-width: 660px;
}

.business-logos {
  width: 65%;
  opacity: .4;
  filter: brightness(0%) grayscale();
}

.home-header-content {
  text-align: center;
  flex-direction: column;
  padding-top: 5rem;
  display: flex;
}

.flex-row-left {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.slide-nav-2 {
  max-width: 150px;
  background-color: #fff;
  border-radius: 500px;
  display: none;
  top: 575.901px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .05);
}

.flex-row-outer {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.testimonial-content {
  width: 60%;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 75px;
  display: flex;
}

.home-benefits-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.home-benefits-wrapper.margin-top {
  margin-top: 10rem;
}

.home-process-block {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.standard-paragraph {
  color: rgba(0, 0, 0, .6);
  letter-spacing: 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.standard-paragraph.smaller {
  font-size: .95rem;
}

.decoration-benefits_sales {
  z-index: 2;
  position: absolute;
  top: -32%;
  bottom: 0%;
  left: -5%;
  right: auto;
}

.slider-wrapper {
  position: relative;
}

.author-name {
  color: #272d4e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}

.text-mark {
  background-image: url('../images/highlight.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.decoration-cta-lines {
  position: absolute;
  top: auto;
  bottom: -20%;
  left: auto;
  right: -3%;
  transform: rotate(103deg);
}

.testimonial-decor {
  z-index: 1;
  max-width: 30%;
  filter: hue-rotate(31deg);
  position: absolute;
  top: -13%;
  bottom: auto;
  left: auto;
  right: -5%;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.decoration-benefits_squiggle {
  z-index: 5;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 1%;
  right: auto;
}

.nav-line {
  width: 2px;
  height: 1.6rem;
  background-color: #f3f4ff;
  margin-left: .5rem;
  display: inline-block;
  position: relative;
  top: .5rem;
}

.play-button {
  position: absolute;
}

.relative {
  position: relative;
}

.h2 {
  color: #1c2d45;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.h-small {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.slider-mask {
  overflow: visible;
}

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.page-wrapper.grey {
  background-color: #f3f4ff;
}

.testimonial-shadow {
  background-color: #f3f4ff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 100%;
  bottom: -6%;
  left: 5%;
  right: 5%;
}

.icon-button {
  color: #fff;
  background-color: #055ffb;
  background-image: linear-gradient(135deg, rgba(0, 117, 254, 0), #0075fe);
  border-radius: 8px;
  justify-content: center;
  align-items: stretch;
  padding: 1.1em 1.7em;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
}

.icon-button:hover {
  background-color: #034492;
}

.icon-button.white {
  color: #1c2d45;
  background-color: #fff;
  background-image: linear-gradient(135deg, rgba(0, 117, 254, 0), rgba(0, 117, 254, .2));
}

.icon-button.white:hover {
  background-image: none;
}

.icon-button.nav-button {
  color: #1c2d45;
  background-color: #fff;
  background-image: none;
  margin-left: .5rem;
  padding: .7em 1.3em;
  font-size: 1rem;
}

.icon-button.nav-button:hover {
  color: #00449e;
  background-color: rgba(5, 95, 251, .1);
}

.testimonial-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.button-wrapper {
  text-align: center;
  display: block;
  position: relative;
}

.flex-row-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-logo-link {
  color: #1c2d45;
}

.nav-logo-link:hover {
  color: #ff7526;
}

.right-arrow {
  width: 45px;
  height: 45px;
  background-color: #ff7526;
  border-radius: 100px;
  font-size: 14px;
  transition: all .2s;
  top: 17px;
  right: -17px;
}

.right-arrow:hover {
  transform: translate(2px);
}

.slider-horizontal {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 60px;
}

.features-content_icon {
  width: 7rem;
  height: 7rem;
  background-color: #f3f4ff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.features-content_icon.small {
  width: 3rem;
  height: 3rem;
  flex: none;
  margin-right: 1rem;
}

.home-benefits-section {
  flex-direction: column;
  display: flex;
}

.home-header {
  text-align: center;
}

.testimonial-card {
  height: 100%;
  display: flex;
  box-shadow: 17px 88px 60px -100px rgba(79, 94, 120, .18), 11px 0 20px -9px rgba(79, 94, 120, .1);
}

.flex-container {
  width: 100%;
  max-width: 980px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.decoration-benefits_churn {
  z-index: 4;
  position: absolute;
  top: 46%;
  left: auto;
  right: 0%;
}

.product-heading {
  width: 40%;
  padding-right: 3rem;
}

.home-benefits-content {
  width: 50ch;
  padding-right: 10%;
}

.button-arrow {
  width: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  display: flex;
}

.quote-content {
  color: #272d4e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.container {
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.decoration-cta-squiggle {
  position: absolute;
  top: -13%;
  bottom: auto;
  left: 4%;
  right: auto;
  transform: rotate(-11deg);
}

.business-logos_wrapper {
  grid-column-gap: 0rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.button-trigger {
  padding-top: .7rem;
  font-size: .7rem;
}

.author-image {
  width: 50px;
  border-radius: 100px;
  margin-right: 14px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .14);
}

.height-100px {
  min-height: 100px;
}

.author-job {
  color: rgba(21, 28, 52, .5);
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.decoration-benefits_trust {
  z-index: 5;
  max-width: 75%;
  position: absolute;
  top: 5%;
  left: 9%;
  right: 0%;
}

.feature-icon_image {
  max-width: 40%;
}

.process-image {
  max-width: 60%;
}

.decoration-benefits_crowd {
  z-index: 5;
  position: absolute;
  top: auto;
  bottom: 8%;
  left: 27%;
  right: 0%;
}

.left-arrow {
  width: 45px;
  height: 45px;
  background-color: #ff7526;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  transition: all .2s;
  display: flex;
  top: 17px;
  left: -17px;
}

.left-arrow:hover {
  transform: translate(-2px);
}

.author-block {
  align-items: center;
  margin-top: 25px;
  display: flex;
}

.container-small {
  width: 100%;
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-vertical {
  padding: 5rem 0;
}

.testimonial-logo {
  margin-bottom: 25px;
}

.margin-bottom {
  margin: 0 0 1rem;
}

.margin-bottom.margin-large, .margin-bottom.margin-xlarge {
  margin-bottom: 3rem;
}

.nav {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  padding: 1rem 2.5rem;
}

.team-image {
  margin-top: 60px;
}

.decoration-benefits_triangle {
  z-index: 6;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 16%;
}

.home_cta-component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: #fff;
  background-color: #055ffb;
  border-radius: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 4rem;
  display: grid;
  position: relative;
}

.horizontal-angle {
  z-index: 99;
  height: 101%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: -2%;
}

.grid-faq {
  width: 50%;
  grid-column-gap: 60px;
  grid-row-gap: 49px;
  flex: none;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  align-self: auto;
  justify-items: stretch;
  margin-top: 0;
}

.header-graphic {
  margin-top: 4rem;
}

.display-4 {
  color: #101935;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.333em;
}

.dashboard-content {
  flex: 1;
}

.dashdark-custom-icon {
  font-weight: 400;
}

.dashdark-custom-icon.line-height-1em {
  line-height: 1em;
}

.dashdark-custom-icon.details-icon {
  max-height: 16px;
  max-width: 16px;
  min-height: 16px;
  min-width: 16px;
  color: #101935;
  cursor: pointer;
  margin-left: 8px;
  font-size: 16px;
  line-height: 1em;
  transition: color .3s;
}

.dashdark-custom-icon.details-icon:hover {
  color: #6c72ff;
}

.dashdark-custom-icon.icon-size-9px {
  font-size: 9px;
  line-height: 1em;
}

.small-dropdown-list {
  width: 120%;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 8px;
}

.dashboard-main-content {
  padding-top: 48px;
  padding-bottom: 64px;
}

.mg-bottom-0 {
  color: #37446b;
  margin-bottom: 0;
}

.small-dot {
  max-height: 8px;
  max-width: 8px;
  min-height: 8px;
  min-width: 8px;
  background-color: #6c72ff;
  border-radius: 100%;
}

.small-dot._4px {
  max-height: 4px;
  max-width: 4px;
  min-height: 4px;
  min-width: 4px;
}

.mg-bottom-16px {
  margin-bottom: 16px;
}

.max-h-16px {
  max-height: 16px;
}

.small-dropdown-toggle {
  grid-column-gap: 12px;
  color: #aeb9e1;
  background-color: #212c4d;
  border: 1px solid #37446b;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  transition: color .3s, border-color .3s;
  display: flex;
}

.small-dropdown-toggle:hover {
  color: #d1dbf9;
  border-color: #7e89ac;
}

.small-dropdown-toggle.w--open {
  color: #fff;
  border-color: #6c72ff;
}

.buttons-row {
  grid-column-gap: 12px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.card {
  background-color: #101935;
  border: .6px solid #343b4f;
  border-radius: 12px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, .06);
}

.card.overflow-hidden {
  background-color: rgba(0, 0, 0, 0);
}

.card.top-details {
  z-index: 1;
  grid-row-gap: 16px;
  color: #101935;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  flex-direction: column;
  padding: 20px;
  display: flex;
  position: relative;
}

.container-default {
  max-width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

._2-items-wrap-container {
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

._2-items-wrap-container.pd-32px---28px {
  padding: 32px 28px;
}

._2-items-wrap-container.align-end {
  align-items: flex-end;
}

.mg-bottom-32px {
  margin-bottom: 32px;
}

.small-details-card-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-columns: 1fr;
  display: grid;
}

.btn-secondary {
  color: #fff;
  text-align: center;
  background-color: #212c4d;
  border-radius: 4px;
  padding: 8px;
  line-height: 1.167em;
  text-decoration: none;
  transition: background-color .3s, color .3s;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #6c72ff;
}

.dashboard-main-section {
  align-items: flex-start;
  display: flex;
}

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.align-center.gap-column-6px {
  grid-column-gap: 6px;
}

.checkbox-field-wrapper {
  align-items: center;
  margin-bottom: 24px;
  padding-left: 0;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}

.checkbox-field-wrapper.mg-bottom-0 {
  margin-bottom: 0;
}

.line-rounded-icon.icon-size-9px {
  font-size: 9px;
  line-height: 1em;
}

.line-rounded-icon.card-dropdown-arrow {
  line-height: 1em;
}

.text-100 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167em;
}

.text-100.medium {
  font-weight: 500;
}

.text-100.medium.mg-top-2px {
  margin-top: 2px;
}

.grid-2-columns {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-2-columns.gap-20px {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1.75fr;
}

.small-dropdown-link {
  color: #aeb9e1;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 10px;
  line-height: 1em;
}

.small-dropdown-link:hover {
  color: #fff;
}

.text-50 {
  font-size: 10px;
  font-weight: 400;
  line-height: 1em;
}

.text-50.semibold {
  font-weight: 600;
}

.text-50.semibold.color-neutral-100 {
  color: #101935;
}

.text-50.medium {
  font-weight: 500;
}

.small-dropdown-links-container {
  grid-row-gap: 16px;
  background-color: #212c4d;
  border: 1px solid #37446b;
  border-radius: 4px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 16px 8px;
  display: flex;
}

.hidden-on-desktop {
  display: none;
}

.status-badge {
  grid-column-gap: 2px;
  border: .6px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  display: flex;
}

.status-badge.yellow {
  color: #fdb52a;
  background-color: rgba(255, 176, 22, .2);
  border-color: rgba(255, 176, 22, .2);
}

.status-badge.red {
  color: #ff5a65;
  background-color: rgba(255, 90, 101, .2);
  border-color: rgba(255, 90, 101, .2);
}

.status-badge.green {
  color: #14ca74;
  background-color: rgba(5, 193, 104, .2);
  border-color: rgba(5, 193, 104, .2);
}

.grid-1-column {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.paragraph-small {
  font-size: 10px;
  line-height: 1.4em;
}

.paragraph-small.color-neutral-100 {
  color: #101935;
}

.table-main-container {
  margin-bottom: -.6px;
  padding-bottom: .6px;
  overflow: auto;
}

.btn-primary {
  color: #fff;
  text-align: center;
  background-color: #6c72ff;
  border-radius: 4px;
  justify-content: center;
  padding: 8px;
  font-weight: 500;
  line-height: 1.167em;
  text-decoration: none;
  transition: background-color .3s, color .3s;
}

.btn-primary:hover {
  color: #fff;
  background-color: #212c4d;
}

.recent-orders-table-row {
  max-height: 50px;
  min-height: 48px;
  min-width: 400px;
  grid-column-gap: 10px;
  color: #101935;
  border-bottom: .6px solid #37446b;
  grid-template-rows: auto;
  grid-template-columns: 1.1fr 1fr .6fr .6fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-bottom: -.6px;
  padding: 12px 28px;
  display: grid;
}

.recent-orders-table-row.table-header {
  min-height: 28px;
  padding-top: 0;
  padding-bottom: 16px;
}

.checkbox {
  width: auto;
  height: auto;
  min-height: 12px;
  min-width: 12px;
  background-color: #37446b;
  border-width: .4px;
  border-color: #7e89ac;
  border-radius: 2px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 6px;
  transition: border-color .3s, background-color .3s;
  box-shadow: 0 1px 6px rgba(20, 20, 43, .06);
}

.checkbox:hover {
  border-color: #aeb9e1;
}

.checkbox.w--redirected-checked {
  background-color: #6c72ff;
  background-image: url('../images/check-form-brix-templates-webflow.svg');
  background-size: 8px;
  border-color: #6c72ff;
  margin-top: 0;
  margin-left: 0;
}

.checkbox.w--redirected-focus {
  box-shadow: none;
}

.text-300 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125em;
}

.text-300.medium {
  font-weight: 500;
}

.text-300.medium.color-neutral-100 {
  color: #101935;
}

.flex-horizontal {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-horizontal.justify-space-between {
  justify-content: space-between;
}

.mg-bottom-24px {
  margin-bottom: 24px;
}

.mg-sides-0 {
  margin-left: 0;
  margin-right: 0;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.price-tab {
  width: 50%;
  color: rgba(19, 22, 23, .7);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  margin-top: -2px;
  margin-bottom: -2px;
  padding: .5em 0;
  font-size: .9em;
  transition: background-color .2s, color .2s;
}

.price-tab:hover {
  color: #1c2d45;
}

.price-tab.w--current {
  color: #fff;
  background-color: #ff7526;
  box-shadow: 1px 1px 10px rgba(28, 45, 69, .08);
}

.detail {
  color: rgba(19, 22, 23, .7);
  margin-bottom: 0;
  font-weight: 400;
}

.payment-terms {
  font-size: 12px;
}

.extras__left-col {
  width: 40%;
  font-weight: 400;
  position: relative;
}

.text-large {
  font-size: 2.5em;
  line-height: 1.3;
}

.text-large.z2 {
  z-index: 2;
  position: relative;
}

.text-question {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.1em;
}

.faqs-inner {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5em;
}

.overflow {
  overflow: visible;
}

.pricing-menu {
  width: 13em;
  background-color: #f3f4ff;
  border-radius: 50px;
  margin: 2em auto 5em;
  padding: 9px;
  display: block;
  overflow: hidden;
}

.accordion-grid {
  grid-column-gap: 50px;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: 5fr;
  margin-top: 3em;
  position: relative;
}

.price {
  margin-bottom: 12px;
  font-size: 1.8em;
  line-height: 1.1;
}

.accordion-faq {
  cursor: pointer;
  border-bottom: 2px solid #f3f4ff;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: -1px;
  padding: 30px;
  display: flex;
  overflow: hidden;
}

.pricing-option {
  margin-bottom: 12px;
  font-size: 1.8em;
  line-height: 1.6em;
}

.discount-container {
  width: 115px;
  color: #fcfbf3;
  background-color: #1c2d45;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 18px;
  font-size: .8em;
  display: inline-block;
  position: absolute;
  top: -2em;
  bottom: auto;
  left: 0;
  right: 0;
}

.feature-grid {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  margin-bottom: 32px;
}

.pricing-card-grid {
  z-index: 2;
  grid-column-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -1em;
  margin-right: -1em;
  padding-bottom: 6em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.featured-review-see-more {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  display: inline-block;
}

.answer-wrap {
  display: block;
}

.f-r-see-more {
  max-width: 300px;
  color: #16192c;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.f-r-see-more:hover {
  color: #706548;
}

.pricing-features {
  margin-bottom: 12px;
  font-size: 1em;
  line-height: 24px;
}

.accordion-wrapper {
  background-color: #fff;
  border: 5px solid #f3f4ff;
  border-radius: 3px;
  margin-bottom: 3em;
  overflow: hidden;
}

.accordion-answer-wrap {
  padding-bottom: 0;
  overflow: hidden;
}

.extras__right-col {
  width: 50%;
}

.text-align-center {
  text-align: center;
}

.text-answer {
  margin-top: 15px;
  margin-bottom: 0;
}

.feature-wrap {
  background-image: url('../images/icon-start-rating.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 20px;
  align-items: center;
  padding-left: 24px;
  display: flex;
}

.integrations-block {
  outline-offset: 0px;
  background-color: #fff;
  border-radius: 24px;
  outline: 16px solid #f3f4ff;
  flex-direction: column;
  padding: 2em;
  transition: box-shadow .2s ease-in-out;
  display: flex;
  box-shadow: 11px 11px #f3f4ff;
}

.lottie {
  width: 20px;
  height: 20px;
  flex: none;
  margin-top: 2px;
  margin-right: 15px;
}

.extra-plans {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.text-price {
  margin-top: .5em;
  font-size: 1.1em;
}

.title-wrap {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
}

.form-wrapper {
  z-index: 50;
  width: 100%;
  max-width: 24em;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 5em;
  display: flex;
  position: relative;
  overflow: visible;
}

.forgot-password {
  width: 100%;
  height: 2em;
  color: rgba(19, 22, 23, .7);
  text-align: right;
  font-size: .9rem;
  font-weight: 400;
  text-decoration: none;
}

.forgot-password:hover {
  color: #131617;
}

.social-btn {
  width: 100%;
  color: #000;
  border: 1px solid #dcdce5;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 12px 40px 12px 15px;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  transition: border-color .2s, box-shadow .2s;
  position: relative;
  box-shadow: 0 1px 2px rgba(220, 220, 229, .5);
}

.social-btn:hover {
  box-shadow: none;
  border-color: #374252;
}

.social-btn:focus {
  border: 1px solid #000;
}

.social-btn::-ms-input-placeholder {
  color: #6e6e6e;
}

.social-btn::placeholder {
  color: #6e6e6e;
}

.social-btn.google {
  background-color: #fff;
  border-color: #8d95a1;
}

.social-btn.google:hover {
  border-color: #4285f4;
}

.social-btn.facebook:hover {
  border-color: #1777f2;
}

.social-btn.facebook.solid {
  color: #fff;
  background-color: #1777f2;
  border-style: none;
  font-weight: 400;
}

.social-btn.facebook.solid:hover {
  background-color: #0053bd;
}

.disconnect-image {
  width: 16px;
}

.disconnect-image.white {
  filter: invert();
}

._100 {
  width: 100%;
}

.flex-stack-center {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: relative;
}

.form-container {
  flex-flow: column wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: flex;
  position: relative;
}

.form-div-line {
  width: 40%;
  height: .8px;
  background-color: rgba(141, 149, 161, .5);
}

.social-content {
  grid-column-gap: 20px;
  align-items: center;
  display: flex;
}

.logo-svg {
  width: 100px;
  color: #1c2d45;
  justify-content: center;
  align-items: center;
  display: flex;
}

.show-hide-wrap {
  z-index: 4;
  position: absolute;
  top: 7px;
  bottom: auto;
  left: auto;
  right: 3%;
}

.section {
  padding-top: 5em;
  padding-bottom: 5em;
  overflow: hidden;
}

.section.forms {
  padding-top: 3em;
}

.social-image {
  width: 24px;
}

.form-divider {
  width: 100%;
  color: rgba(0, 0, 0, .8);
  letter-spacing: 2px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  display: flex;
}

.svg {
  width: 1.3em;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  display: flex;
}

.input-label {
  z-index: 3;
  color: #fff;
  background-color: #49576b;
  border-radius: 3px;
  margin-bottom: 0;
  padding-left: .7em;
  padding-right: .7em;
  font-size: .7em;
  font-weight: 600;
  line-height: 1.6em;
  display: inline-block;
  position: relative;
  bottom: -7px;
  left: 8px;
}

.hide {
  display: none;
}

.text-field-wrapper {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  display: flex;
  position: relative;
}

.text-field-wrapper.name {
  margin-right: 10px;
}

.disconnect-link {
  text-align: right;
  padding: 13px;
  text-decoration: underline;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.disconnect-link:hover {
  color: #000;
}

.relative-2 {
  width: 100%;
  position: relative;
}

.input {
  z-index: 2;
  height: 48px;
  color: #131617;
  background-color: #fff;
  border: 1px solid rgba(28, 45, 69, .5);
  border-radius: 6px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 400;
  transition: border-color .2s, box-shadow .2s;
  position: relative;
}

.input:focus {
  border-color: rgba(19, 22, 23, .7);
}

.input::-ms-input-placeholder {
  color: rgba(19, 22, 23, .5);
  font-weight: 300;
}

.input::placeholder {
  color: rgba(19, 22, 23, .5);
  font-weight: 300;
}

.flex-row-outer-2 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.show-hide {
  color: #1c2d45;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 3px;
  padding: 0 10px;
  font-size: .7em;
  line-height: 1.6;
  display: flex;
  bottom: -7px;
}

.show-hide:hover {
  color: #0075fe;
}

.show-hide.w--current {
  display: none;
}

.grey-text {
  color: rgba(19, 22, 23, .7);
  text-align: center;
  margin-top: 2em;
  font-size: .8rem;
  font-weight: 300;
}

.link {
  color: #131617;
  border-radius: 5px;
  margin-left: -3px;
  margin-right: -3px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  background-color: #ffda54;
}

.relative-3 {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .svg-arrow {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 991px) {
  .home-process-content_wrapper {
    grid-row-gap: 2rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .svg-arrow {
    left: 92%;
  }

  .home-header-content-text {
    max-width: 40rem;
  }

  .testimonial-content {
    padding-left: 25px;
    padding-right: 40px;
  }

  .home-benefits-wrapper {
    grid-row-gap: 4rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .home-benefits-wrapper.margin-top {
    grid-row-gap: 4rem;
  }

  .home-process-block {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .menu-button {
    display: none;
  }

  .nav-menu {
    display: block;
  }

  .testimonial-image {
    position: relative;
  }

  .features-content_icon {
    width: 6rem;
    height: 6rem;
  }

  .decoration-benefits_churn {
    top: 40%;
    right: -5%;
  }

  .product-heading {
    padding-right: 10%;
  }

  .home-benefits-content {
    width: 60ch;
    text-align: center;
  }

  .business-logos_wrapper {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .home_cta-component {
    grid-row-gap: 2rem;
    text-align: center;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .grid-faq {
    grid-column-gap: 27px;
  }

  .display-4 {
    font-size: 20px;
  }

  .card.top-details {
    padding-left: 28px;
    padding-right: 28px;
  }

  .small-details-card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .recent-orders-table-row {
    grid-template-columns: 1fr 1fr .6fr .6fr;
  }

  .text-large {
    font-size: 2.2em;
  }

  .accordion-grid {
    grid-row-gap: 50px;
  }

  .pricing-card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .featured-review-see-more {
    font-size: 15px;
  }

  .f-r-see-more {
    margin-bottom: 46px;
  }

  .extra-plans {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .home-process-content_wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .linebreak {
    display: inline;
  }

  .svg-arrow {
    top: 29%;
  }

  .home-header-content-text {
    max-width: 38rem;
  }

  .section-divider {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .testimonial-image-wrap {
    width: 100%;
    height: 280px;
  }

  .home-header-content {
    padding-top: 3rem;
  }

  .flex-row-outer {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .questions-block {
    text-align: left;
  }

  .testimonial-content {
    width: 100%;
    padding: 45px;
  }

  .home-benefits-wrapper {
    margin-top: 4rem;
  }

  .home-benefits-wrapper.margin-top {
    grid-row-gap: 5rem;
  }

  .hide-on-mobile, .nav-menu {
    display: none;
  }

  .icon-button {
    padding: 12px 30px;
    font-size: 14px;
  }

  .slider-horizontal {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .features-content_icon {
    width: 5rem;
    height: 5rem;
  }

  .testimonial-card {
    flex-wrap: wrap;
  }

  .flex-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .h1 {
    font-size: 3rem;
  }

  .product-heading {
    width: 400px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 0%;
    display: flex;
  }

  .home-benefits-content {
    width: 50ch;
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nav-container {
    flex-direction: column;
  }

  .feature-icon_image {
    max-width: 35%;
  }

  .process-image {
    max-width: 70%;
  }

  .padding-vertical {
    padding: 2rem 0 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .home_cta-component {
    padding: 3rem;
  }

  .horizontal-angle {
    display: none;
  }

  .grid-faq {
    width: 100%;
    grid-column-gap: 41px;
  }

  .card.top-details {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container-default {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mg-bottom-32px {
    margin-bottom: 28px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
  }

  .recent-orders-table-row {
    grid-template-columns: .6fr 1fr .6fr .6fr;
    padding-left: 24px;
    padding-right: 24px;
  }

  .extras__left-col {
    width: 100%;
  }

  .text-large {
    font-size: 2em;
  }

  .pricing-menu {
    margin-top: 1em;
  }

  .pricing-card-grid {
    margin-top: 2em;
  }

  .f-r-see-more {
    margin-bottom: 20px;
  }

  .extras__right-col {
    width: 100%;
  }

  .feature-wrap {
    font-size: .8rem;
  }

  .extra-plans {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .decoration-benefits_moneybag {
    max-width: 18%;
    right: 16%;
  }

  .decoration-benefits_cudtomers {
    max-width: 60%;
    bottom: -12%;
    left: -10%;
  }

  .decoration-benefits_lines-on-right {
    max-width: 15%;
    right: -7%;
  }

  .home-process-content_wrapper {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .decoration-benefits_shadow {
    max-width: 90%;
    top: 11%;
    left: 9%;
  }

  .home-benefits_product-images {
    width: 100%;
    max-width: 18rem;
    min-width: 12rem;
  }

  .home-header-content-text {
    padding-left: 0;
    padding-right: 0;
  }

  .decoration-benefits-blue-box {
    max-width: 90%;
    left: 4%;
  }

  .testimonial-image-wrap {
    height: 260px;
  }

  .testimonial-content {
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-benefits-wrapper {
    grid-row-gap: 3rem;
  }

  .home-benefits-wrapper.margin-top {
    grid-row-gap: 3rem;
    margin-top: 10rem;
  }

  .home-process-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .decoration-benefits_sales {
    max-width: 60%;
    top: -20%;
    left: -6%;
  }

  .decoration-benefits_squiggle {
    max-width: 15%;
    bottom: 11%;
    left: -8%;
  }

  .icon-button {
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .right-arrow {
    top: auto;
    bottom: -3%;
    left: auto;
    right: 20%;
  }

  .features-content_icon {
    width: 4rem;
    height: 4rem;
  }

  .flex-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .decoration-benefits_churn {
    max-width: 60%;
    top: 43%;
    right: -11%;
  }

  .product-heading {
    width: 100%;
  }

  .home-benefits-content {
    width: auto;
  }

  .decoration-benefits_trust {
    max-width: 90%;
  }

  .process-image {
    max-width: 70%;
  }

  .decoration-benefits_crowd {
    max-width: 25%;
    bottom: 28%;
  }

  .left-arrow {
    top: auto;
    bottom: -3%;
    left: 20%;
    right: auto;
  }

  .author-block {
    margin-top: 15px;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .decoration-benefits_triangle {
    max-width: 18%;
    bottom: 18%;
    right: 7%;
  }

  .home_cta-component {
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
  }

  .grid-faq {
    grid-row-gap: 54px;
    grid-template-columns: 1fr;
  }

  .display-4 {
    font-size: 18px;
  }

  .mg-bottom-16px {
    margin-bottom: 12px;
  }

  .container-default {
    padding-left: 16px;
    padding-right: 16px;
  }

  .small-details-card-grid {
    grid-template-columns: 1fr;
  }

  .checkbox-field-wrapper {
    font-size: 16px;
    line-height: 20px;
  }

  .mg-bottom-24px {
    margin-bottom: 20px;
  }

  .faqs-inner {
    padding-top: 2em;
  }

  .pricing-menu {
    width: 12em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .accordion-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .accordion-faq {
    padding-left: 15px;
    padding-right: 15px;
  }

  .pricing-card-grid {
    grid-column-gap: 42px;
    grid-row-gap: 42px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .accordion-answer-wrap {
    padding-left: 0;
  }

  .integrations-block {
    font-size: 14px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 4em;
  }

  .form-divider {
    width: 100%;
  }
}

#w-node-_0adca426-a239-fcc6-74bf-f7d0499c6c73-5a27dd42 {
  justify-self: center;
}

#w-node-_0adca426-a239-fcc6-74bf-f7d0499c6c7f-5a27dd42 {
  justify-self: end;
}

#w-node-_0adca426-a239-fcc6-74bf-f7d0499c6c86-5a27dd42, #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6c8f-5a27dd42, #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6cce-5a27dd42, #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6cd5-5a27dd42, #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6cdc-5a27dd42, #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6ce3-5a27dd42 {
  justify-self: center;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0daa-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0daf-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0dbe-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0dd9-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0df4-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e0f-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e4f-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e50-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: stretch;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e68-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e6c-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e70-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e74-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e75-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e7a-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e8b-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e9c-7aa1ef4f {
  justify-self: end;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e9f-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0eb0-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ec1-7aa1ef4f {
  justify-self: end;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ec4-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ed5-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ee6-7aa1ef4f {
  justify-self: end;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ee9-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0efa-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f0b-7aa1ef4f {
  justify-self: end;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f0e-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f1f-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f30-7aa1ef4f {
  justify-self: end;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f33-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f44-7aa1ef4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f55-7aa1ef4f {
  justify-self: end;
}

#w-node-_8a5be820-2525-a326-0735-c790a33f3cdf-90886d5e, #w-node-_8a5be820-2525-a326-0735-c790a33f3cfd-90886d5e, #w-node-_8a5be820-2525-a326-0735-c790a33f3cfe-90886d5e, #w-node-_8a5be820-2525-a326-0735-c790a33f3d1e-90886d5e, #w-node-_8a5be820-2525-a326-0735-c790a33f3d3e-90886d5e, #w-node-_8a5be820-2525-a326-0735-c790a33f3d5c-90886d5e, #w-node-_8a5be820-2525-a326-0735-c790a33f3d5d-90886d5e, #w-node-_8a5be820-2525-a326-0735-c790a33f3d7d-90886d5e {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6c6c-5a27dd42 {
    grid-area: 2 / 3 / 3 / 3;
  }

  #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6c7f-5a27dd42 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
  }

  #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6c86-5a27dd42 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_8a5be820-2525-a326-0735-c790a33f3dc0-90886d5e {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0daf-7aa1ef4f {
    justify-self: auto;
  }

  #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e89-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e8b-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0eae-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0eb0-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ed3-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ed5-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ef8-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0efa-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f1d-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f1f-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f42-7aa1ef4f, #w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f44-7aa1ef4f {
    align-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_0adca426-a239-fcc6-74bf-f7d0499c6c7f-5a27dd42 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_8a5be820-2525-a326-0735-c790a33f3dc0-90886d5e {
    grid-column: span 1 / span 1;
  }
}
