
<div class="tooltip-content">
<h2>{{ account.Name }}</h2>
<hr>

  <p class="card-text"><strong>Type:</strong>{{ account.Type }}</p>
  <p class="card-text"><strong>Billing Address:</strong> {{ account.BillingStreet }}, {{ account.BillingCity }}, {{ account.BillingState }}, {{ account.BillingPostalCode }}, {{ account.BillingCountry }}</p>
  <p class="card-text"><strong>Phone:</strong> {{ account.Phone }}</p>
  <p class="card-text"><strong>Fax:</strong> {{ account.Fax }}</p>
  <p class="card-text"><strong>Website:</strong> {{ account.Website }}</p>
  <p class="card-text"><strong>Industry:</strong> {{ account.Industry }}</p>
  <p class="card-text"><strong>Annual Revenue:</strong> {{ account.AnnualRevenue }}</p>
  <p class="card-text"><strong>Number Of Employees:</strong> {{ account.NumberOfEmployees }}</p>
  <p class="card-text"><strong>Description:</strong> {{ account.Description }}</p>
</div>
