<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs5/1.13.6/dataTables.bootstrap5.min.css" integrity="sha512-lh4coC5XUFMaH3vP6Xx6Rab4J0rm4ojKwQKZoawqk325K9e2PMGf2GZreDeYnetVTIoWpYsEphDS0Zy0QFYOFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Salesforce App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item {% if request.endpoint == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('index') }}">Dashboard</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'contacts' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('contacts') }}">Contacts</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'events_page' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('events_page') }}">Events</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item {% if request.endpoint == 'login' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item {% if request.endpoint == 'signup' %}active{% endif %}">
                    <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>




<!-- Content -->
<div>
    {% block content %}{% endblock %}
    <br><br>
</div>

{#<!-- Add Bootstrap JS and jQuery -->#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">#}
{#</script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>#}
{#<script src="../static/js/scripts.js"></script>#}

</body>
</html>
