{% extends "base.html" %}
{% block content %}
    <div class="container">
    <h1>Contacts</h1>
    <div class="container">
        <table id="myContactTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Contact Name</th>
                <th>Account ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Mailing City</th>
                <th>Mailing State</th>
                <th>Mailing Postal Code</th>
                <th>Mailing Country</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact['Name'] }}</td>
                    <td>{{ contact['AccountId'] }}</td>
                    <td>{{ contact['LastName'] }}</td>
                    <td>{{ contact['FirstName'] }}</td>
                    <td>{{ contact['MailingCity'] }}</td>
                    <td>{{ contact['MailingState'] }}</td>
                    <td>{{ contact['MailingPostalCode'] }}</td>
                    <td>{{ contact['MailingCountry'] }}</td>
                    <td>{{ contact['Email'] }}</td>
                    <td>{{ contact['Phone'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#myContactTable').DataTable();
        });
    </script>

{% endblock %}
