{% extends "base.html" %}

{% block content %}
    <div class="container mt-5 animate__animated animate__fadeIn">

        <h2 class="mb-4">Invite Contacts for Event: {{ event.name }}</h2>

        {% if contacts|length == 0 %}
            <div class="alert alert-info" role="alert">
                No contacts found for this account.
            </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for contact in contacts %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ contact.Name }}</h5>
                            <p class="card-text"><strong>Title:</strong> {{ contact.Title }}</p>
                            <p class="card-text"><strong>Email:</strong> {{ contact.Email }}</p>
{#                            <a href="{{ url_for('send_invitation', contact_id=contact.Id, event_id=event.id) }}" class="btn btn-primary">Send Invite</a>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
