{% extends "base.html" %}
{% block content %}
  <html data-wf-page="650f57fbea23e1c17aa1ef4f" data-wf-site="650f57c238e964525a27dd3f">

  <div class="page-wrapper-2">
    <div class="dashboard-main-section">
      <div class="dashboard-content">
        <div class="dashboard-main-content">
          <div class="container-default w-container">
            <div class="mg-bottom-32px">
              <div class="_2-items-wrap-container">
                <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0daa-7aa1ef4f">
                  <h1 class="display-4 mg-bottom-4px">Welcome back, John</h1>
                  <p class="mg-bottom-0">Measure your advertising ROI and report website traffic.</p>
                </div>
                <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0daf-7aa1ef4f" class="buttons-row">
                  <a href="#" class="btn-secondary w-inline-block">
                    <div class="flex-horizontal gap-column-6px">
                      <div>Export data</div><img src="../static/img/downward-arrow-btn-icon-dashdark-webflow-ecommerce-template.svg" loading="eager" alt="" class="btn-icon-right max-h-12px">
                    </div>
                  </a>
                  <a href="#" class="btn-primary w-inline-block">
                    <div class="flex-horizontal gap-column-6px">
                      <div>Create report</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="mg-bottom-16px">
              <div class="small-details-card-grid">
                <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0dbe-7aa1ef4f" class="card top-details">
                  <div class="flex-horizontal justify-space-between">
                    <div class="flex align-center gap-column-4px"><img src="../static/img/pageviews-icon-dashdark-webflow-template.svg" loading="eager" alt="Pageviews - Dashdark X Webflow Template" class="max-h-16px">
                      <div class="text-100 medium mg-top-2px">Pageviews</div>
                    </div>
                    <div class="dashdark-custom-icon details-icon"></div>
                  </div>
                  <div class="flex align-center gap-column-6px">
                    <div class="display-4">50.8K</div>
                    <div>
                      <div class="status-badge green">
                        <div class="flex align-center gap-column-4px">
                          <div class="paragraph-small">28.4%</div>
                        </div>
                        <div class="dashdark-custom-icon icon-size-9px"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0dd9-7aa1ef4f" class="card top-details">
                  <div class="flex-horizontal justify-space-between">
                    <div class="flex align-center gap-column-4px"><img src="https://uploads-ssl.webflow.com/650b5aa1c83014362c816d0e/650b5aa1c83014362c816df7_pageviews-icon-dashdark-webflow-template.svg" loading="eager" alt="" class="max-h-16px">
                      <div class="text-100 medium mg-top-2px">Monthly users</div>
                    </div>
                    <div class="dashdark-custom-icon details-icon"></div>
                  </div>
                  <div class="flex align-center gap-column-6px">
                    <div class="display-4">23.6K</div>
                    <div>
                      <div class="status-badge red">
                        <div class="flex align-center gap-column-4px">
                          <div class="paragraph-small">12.6%</div>
                        </div>
                        <div class="dashdark-custom-icon icon-size-9px"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0df4-7aa1ef4f" class="card top-details">
                  <div class="flex-horizontal justify-space-between">
                    <div class="flex align-center gap-column-4px"><img src="https://uploads-ssl.webflow.com/650b5aa1c83014362c816d0e/650b5aa1c83014362c816df7_pageviews-icon-dashdark-webflow-template.svg" loading="eager" alt="" class="max-h-16px">
                      <div class="text-100 medium mg-top-2px">New sign ups</div>
                    </div>
                    <div class="dashdark-custom-icon details-icon"></div>
                  </div>
                  <div class="flex align-center gap-column-6px">
                    <div class="display-4">756</div>
                    <div>
                      <div class="status-badge green">
                        <div class="flex align-center gap-column-4px">
                          <div class="paragraph-small">3.1%</div>
                        </div>
                        <div class="dashdark-custom-icon icon-size-9px"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e0f-7aa1ef4f" class="card top-details">
                  <div class="flex-horizontal justify-space-between">
                    <div class="flex align-center gap-column-4px"><img src="https://uploads-ssl.webflow.com/650b5aa1c83014362c816d0e/650b5aa1c83014362c816df7_pageviews-icon-dashdark-webflow-template.svg" loading="eager" alt="" class="max-h-16px">
                      <div class="text-100 medium mg-top-2px">Subscriptions</div>
                    </div>
                    <div class="dashdark-custom-icon details-icon"></div>
                  </div>
                  <div class="flex align-center gap-column-6px">
                    <div class="display-4">2.3K</div>
                    <div>
                      <div class="status-badge green">
                        <div class="flex align-center gap-column-4px">
                          <div class="paragraph-small">11.3%</div>
                        </div>
                        <div class="dashdark-custom-icon icon-size-9px"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mg-bottom-24px">
              <div class="_2-items-wrap-container align-end">
                <div>
                  <h2 class="display-4">Reports overview</h2>
                  <div data-hover="true" data-delay="0" class="mg-sides-0 position-relative---z-index-1 w-dropdown">
                    <div class="small-dropdown-toggle w-dropdown-toggle">
                      <div class="flex align-center gap-column-4px">
                        <div class="dashdark-custom-icon line-height-1em"></div>
                        <div class="text-50 medium">Select date</div>
                      </div>
                      <div class="line-rounded-icon card-dropdown-arrow"></div>
                    </div>
                    <nav class="small-dropdown-list w-dropdown-list">
                      <div class="small-dropdown-links-container">
                        <a href="#" class="small-dropdown-link w-dropdown-link">Jan 2024 - Dec 2024</a>
                        <a href="#" class="small-dropdown-link w-dropdown-link">Jan 2023 - Dec 2023</a>
                        <a href="#" class="small-dropdown-link w-dropdown-link">Jan 2022 - Dec 2022</a>
                      </div>
                    </nav>
                  </div>
                </div>
                <div class="buttons-row">
                  <a href="#" class="btn-secondary w-inline-block">
                    <div class="flex-horizontal gap-column-6px">
                      <div>Export data</div><img src="../static/img/downward-arrow-btn-icon-dashdark-webflow-ecommerce-template.svg" loading="eager" alt="" class="btn-icon-right max-h-12px">
                    </div>
                  </a>
                  <a href="#" class="btn-primary w-inline-block">
                    <div class="flex-horizontal gap-column-6px">
                      <div>Create report</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="mg-bottom-24px">
              <div class="grid-2-columns gap-20px">
                <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e4f-7aa1ef4f">
                  <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e50-7aa1ef4f" class="grid-1-column">
                    <div class="card overflow-hidden">
                      <div class="_2-items-wrap-container pd-32px---28px">
                        <div class="text-300 medium color-neutral-100">Recent orders</div>
                        <div data-hover="true" data-delay="0" class="mg-sides-0 position-relative---z-index-1 w-dropdown">
                          <div class="small-dropdown-toggle w-dropdown-toggle">
                            <div class="flex align-center gap-column-4px">
                              <div class="dashdark-custom-icon line-height-1em"></div>
                              <div class="text-50 medium">Jan 2024</div>
                            </div>
                            <div class="line-rounded-icon card-dropdown-arrow"></div>
                          </div>
                          <nav class="small-dropdown-list w-dropdown-list">
                            <div class="small-dropdown-links-container">
                              <a href="#" class="small-dropdown-link w-dropdown-link">Dec 2023</a>
                              <a href="#" class="small-dropdown-link w-dropdown-link">Nov 2023</a>
                              <a href="#" class="small-dropdown-link w-dropdown-link">Oct 2023</a>
                            </div>
                          </nav>
                        </div>
                      </div>
                      <div class="table-main-container">
                        <div class="recent-orders-table-row table-header">
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e68-7aa1ef4f" class="flex align-center gap-column-6px"><img src="images/order-table-header-icon-dashdark-webflow-template.svg" loading="eager" alt="">
                            <div class="text-50 semibold color-neutral-100">Order</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e6c-7aa1ef4f" class="flex align-center gap-column-6px"><img src="https://uploads-ssl.webflow.com/650b5aa1c83014362c816d0e/650b5aa1c83014362c816e0d_order-table-header-icon-dashdark-webflow-template.svg" loading="eager" alt="">
                            <div class="text-50 semibold color-neutral-100">Date</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e70-7aa1ef4f" class="flex align-center gap-column-6px"><img src="https://uploads-ssl.webflow.com/650b5aa1c83014362c816d0e/650b5aa1c83014362c816e0d_order-table-header-icon-dashdark-webflow-template.svg" loading="eager" alt="">
                            <div class="text-50 semibold color-neutral-100">Status</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e74-7aa1ef4f">
                            <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e75-7aa1ef4f" class="flex align-center gap-column-6px">
                              <div class="text-50 semibold color-neutral-100">Total</div>
                            </div>
                          </div>
                        </div>
                        <div class="recent-orders-table-row">
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e7a-7aa1ef4f" class="flex align-center">
                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                              <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="650f57fbea23e1c17aa1ef4f" data-wf-element-id="be246f26-a62f-48d4-76dd-5d34ac0a0e7c"><label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                  <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                </label></form>
                              <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                              </div>
                              <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                              </div>
                            </div>
                            <div class="paragraph-small color-neutral-100">#1532</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e89-7aa1ef4f" class="paragraph-small color-neutral-100">Dec 30, 10:06 AM</div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e8b-7aa1ef4f">
                            <div>
                              <div class="status-badge green">
                                <div class="flex align-center gap-column-4px">
                                  <div class="small-dot _4px bg-green-300"></div>
                                  <div class="paragraph-small">Paid</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e9c-7aa1ef4f" class="paragraph-small color-neutral-100">$ 329.40</div>
                        </div>
                        <div class="recent-orders-table-row">
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0e9f-7aa1ef4f" class="flex align-center">
                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                              <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="650f57fbea23e1c17aa1ef4f" data-wf-element-id="be246f26-a62f-48d4-76dd-5d34ac0a0ea1"><label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                  <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                </label></form>
                              <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                              </div>
                              <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                              </div>
                            </div>
                            <div class="paragraph-small color-neutral-100">#1531</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0eae-7aa1ef4f" class="paragraph-small color-neutral-100">Dec 29, 2:59 AM</div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0eb0-7aa1ef4f">
                            <div>
                              <div class="status-badge yellow">
                                <div class="flex align-center gap-column-4px">
                                  <div class="small-dot _4px bg-secondary-5"></div>
                                  <div class="paragraph-small">Pending</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ec1-7aa1ef4f" class="paragraph-small color-neutral-100">$ 117.24</div>
                        </div>
                        <div class="recent-orders-table-row">
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ec4-7aa1ef4f" class="flex align-center">
                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                              <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="650f57fbea23e1c17aa1ef4f" data-wf-element-id="be246f26-a62f-48d4-76dd-5d34ac0a0ec6"><label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                  <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                </label></form>
                              <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                              </div>
                              <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                              </div>
                            </div>
                            <div class="paragraph-small color-neutral-100">#1530</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ed3-7aa1ef4f" class="paragraph-small color-neutral-100">Dec 29, 12:54 AM</div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ed5-7aa1ef4f">
                            <div>
                              <div class="status-badge yellow">
                                <div class="flex align-center gap-column-4px">
                                  <div class="small-dot _4px bg-secondary-5"></div>
                                  <div class="paragraph-small">Pending</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ee6-7aa1ef4f" class="paragraph-small color-neutral-100">$ 52.16</div>
                        </div>
                        <div class="recent-orders-table-row">
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ee9-7aa1ef4f" class="flex align-center">
                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                              <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="650f57fbea23e1c17aa1ef4f" data-wf-element-id="be246f26-a62f-48d4-76dd-5d34ac0a0eeb"><label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                  <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                </label></form>
                              <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                              </div>
                              <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                              </div>
                            </div>
                            <div class="paragraph-small color-neutral-100">#1529</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0ef8-7aa1ef4f" class="paragraph-small color-neutral-100">Dec 28, 2:32 PM</div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0efa-7aa1ef4f">
                            <div>
                              <div class="status-badge green">
                                <div class="flex align-center gap-column-4px">
                                  <div class="small-dot _4px bg-green-300"></div>
                                  <div class="paragraph-small">Paid</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f0b-7aa1ef4f" class="paragraph-small color-neutral-100">$ 350.52</div>
                        </div>
                        <div class="recent-orders-table-row">
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f0e-7aa1ef4f" class="flex align-center">
                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                              <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="650f57fbea23e1c17aa1ef4f" data-wf-element-id="be246f26-a62f-48d4-76dd-5d34ac0a0f10"><label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                  <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                </label></form>
                              <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                              </div>
                              <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                              </div>
                            </div>
                            <div class="paragraph-small color-neutral-100">#1528</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f1d-7aa1ef4f" class="paragraph-small color-neutral-100">Dec 27, 2:20 PM</div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f1f-7aa1ef4f">
                            <div>
                              <div class="status-badge yellow">
                                <div class="flex align-center gap-column-4px">
                                  <div class="small-dot _4px bg-secondary-5"></div>
                                  <div class="paragraph-small">Pending</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f30-7aa1ef4f" class="paragraph-small color-neutral-100">$ 246.78</div>
                        </div>
                        <div class="recent-orders-table-row">
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f33-7aa1ef4f" class="flex align-center">
                            <div class="mg-bottom-0 hidden-on-mbl w-form">
                              <form id="email-form" name="email-form" data-name="Email Form" method="get" data-wf-page-id="650f57fbea23e1c17aa1ef4f" data-wf-element-id="be246f26-a62f-48d4-76dd-5d34ac0a0f35"><label class="w-checkbox checkbox-field-wrapper mg-bottom-0">
                                  <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1"><span class="hidden-on-desktop w-form-label" for="checkbox-2">#1532</span>
                                </label></form>
                              <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                              </div>
                              <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                              </div>
                            </div>
                            <div class="paragraph-small color-neutral-100">#1527</div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f42-7aa1ef4f" class="paragraph-small color-neutral-100">Dec 26, 9:48 AM</div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f44-7aa1ef4f">
                            <div>
                              <div class="status-badge green">
                                <div class="flex align-center gap-column-4px">
                                  <div class="small-dot _4px bg-green-300"></div>
                                  <div class="paragraph-small">Paid</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="w-node-be246f26-a62f-48d4-76dd-5d34ac0a0f55-7aa1ef4f" class="paragraph-small color-neutral-100">$ 64.00</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=650f57c238e964525a27dd3f" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
{% endblock %}