{% extends "base.html" %}

{% block content %}
<style>

    body {
        font-family: 'Arial', 'Helvetica', sans-serif;
        font-weight: 600;
        text-align: center;
    }
    tbody tr:hover {
        cursor: move;
    }

    .tooltip {
        pointer-events: none; /* Prevents the tooltip from blocking other elements */
    }
    .tooltip.show {
        opacity: 1;
    }
    .tooltip-inner {
        max-width: 300px; /* Adjust this value as per your requirement */
        word-wrap: break-word;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
        text-align: left;
    }

    .note-expander {
        display: none;
        position: absolute;
        left: 10px;
        bottom: 5px;
        cursor: pointer;
    }

    .noteGroup:hover .note-expander {
        display: block; /* Show the expander arrow on hover */
    }



    /* Adjust arrow color to match tooltip background */
    .tooltip.bs-tooltip-top .arrow::before, .tooltip.bs-tooltip-auto .arrow::before {
        border-top-color: #333;
    }

    .closed-won-opp {
        color: red;  /* Color for open opportunities */
        font-weight: bold;
    }

    .open-opp {
        color: green;  /* Color for open opportunities */
        font-weight: bold;
    }

    #myTable {
        min-width: 2000px;
    }

    #myTable_filter {
        width: 90%;

    }

    #myTable_paginate {
        width: 95%;

    }


</style>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Welcome to the SDR Dashboard</h1>
        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAccountModal">
            Add New Account
        </button>
    </div>
    <p>Here you can view your sales metrics and manage your accounts.</p>

    <!-- Add your dashboard content here -->
    <h2>Accounts</h2>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover" id="myTable">


<thead>
        <tr>
            <th data-bs-toggle="tooltip" data-bs-placement="top" title="The name of the account.">Name</th>
            <th data-bs-toggle="tooltip" data-bs-placement="top" title="The score assigned to the account based on certain criteria.">Score</th>
            <th data-bs-toggle="tooltip" data-bs-placement="top" title="The current state or status of the account.">State</th>
            <th data-bs-toggle="tooltip" data-bs-placement="top" title="The number of sales opportunities associated with the account.">Opportunities</th>
            <th data-bs-toggle="tooltip" data-bs-placement="top" title="Any additional notes or information about the account.">Notes</th>
            <th data-bs-toggle="tooltip" data-bs-placement="top" title="The date of the last interaction with the account.">Last Interaction</th>
            <th>Events</th>
            <th>Top 5 Contacts</th>
            <th>Menu</th>
            <!--            <th>Prospecting</th>-->
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
        <tr>
            <td><a href="{{ url_for('account_details', account_id=account.Id) }}" style="font-weight: lighter; color: steelblue" >{{ account.Name }}</a></td>
            <td class="tier-cell" data-account-id="{{ account.Id }}">{{ account.Score|int }}</td>
            <td class="state-cell">{{ account.BillingState }}</td>
            <td style="background-color: {{ status_color[account.Id] }}; text-align: center;">

                {% if account.Id in open_opps_by_account %}
                {{ open_opps_by_account[account.Id] }} Open
                {% elif account.Id in closed_opps_by_account %}
                {{ closed_opps_by_account[account.Id] }} Won in Last 12 Months
                {% else %}
                No opportunities
                {% endif %}
            </td>


            <td data-bs-toggle="tooltip" data-bs-placement="right" title="{{ account.Notes }}">
                <div class="input-group noteGroup">
                    <textarea class="form-control note-textarea" data-account-id="{{ account.Id }}" readonly aria-label="Recipient's username">{{ account.Notes }}</textarea>
                    <button class="btn btn-outline-secondary save-note-btn" type="button" style="display:none;">Save</button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down note-expander" viewBox="0 0 16 16">#}
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>#}
                    </svg>
                </div>


            </td>


            <td data-account-id="{{ account.Id }}" class="last-interaction-cell" style="font-weight: lighter; color: steelblue">{% set last_interaction = get_last_interaction(account.Id) %}
                {% if last_interaction != None %}
                <a href="{{ url_for('interaction_details', interaction_id=last_interaction.id) }}" style="font-weight: lighter; color: steelblue">{{ last_interaction.timestamp|time_since }}</a>
                {% else %}
                :(
                {% endif %}</td>
            {% if account.BillingCity is not none %}
            <td><a href="{{ url_for('event_list', account_id=account.Id, event_city=account.BillingCity) }}" style="font-weight: lighter; color: steelblue">{{ account_event_counts[account.Id] if account.Id in account_event_counts else 0 }}</a>
            </td>
            {% else %}
            <td style="font-weight: lighter; color: steelblue">{{ account_event_counts[account.Id] if account.Id in account_event_counts else 0 }}</td>
            {% endif %}
            <td>
                {% for contact in top5[account.Id] %}
                <a href="{{ url_for('contact_details', contact_id=contact.Id) }}">{{ contact.Name }} <br> {{ contact.Title }}</a><br><br>
                {% endfor %}
            </td>

            <td>
                <button type="button" class="btn btn-info open-contact-modal" data-bs-toggle="modal" data-bs-target="#viewContactModal" data-account-id="{{ account.Id }}" data-account-name="{{ account.Name }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="2 0 11 19">
                        <path d="M9.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-7a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm0 14a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"></path>
                    </svg>
                </button>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>



    <!-- Menu Modal -->
    <div class="modal fade" id="viewContactModal" tabindex="-1" aria-labelledby="viewContactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewContactModalLabel">Account History for <span id="modalAccountName"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="calls-tab" data-bs-toggle="tab" href="#calls" role="tab" aria-controls="calls" aria-selected="true">Calls</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="video-meetings-tab" data-bs-toggle="tab" href="#video-meetings" role="tab" aria-controls="video-meetings" aria-selected="false">Video Meetings</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="email-tab" data-bs-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">Email</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-recommendations-tab" data-bs-toggle="tab" href="#contact-recommendations" role="tab" aria-controls="contact-recommendations" aria-selected="false">Contact Recommendations</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="calls" role="tabpanel" aria-labelledby="calls-tab">
                            <!-- Calls content goes here -->
                            <br><br>
                            <h2>No calls to display</h2>
                        </div>
                        <div class="tab-pane fade" id="video-meetings" role="tabpanel" aria-labelledby="video-meetings-tab">
                            <!-- Video meetings content goes here -->
                            <br><br>

                            <h2>No video meetings to display</h2>
                        </div>
                        <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                            <!-- Email content goes here -->
                            <br><br>

                            <h2>No Email to display</h2>
                        </div>
                        <div class="tab-pane fade" id="contact-recommendations" role="tabpanel" aria-labelledby="contact-recommendations-tab">
                            <br><br>

                            {% for contact in contacts %}
                            {% if contact.Recommendation %}

                            <!-- Display the recommendation -->
                            <p>{{ contact.Recommendation }}</p>
                            {% endif %}
                            {% endfor %}

                            {% if not recommendations_exist %}
                            <h2>No contact recommendations to display</h2>
                            {% endif %}
                        </div>

                    </div>
                    <div id="makeCallView" style="display: none;">
                        <button class="btn btn-secondary backToMain" style="float: left">Back</button>
                        <h1>Make Call</h1>
                        <select id="contactDropdown">
                            <option value="">Select Contact</option>
                            <!-- Add options for each contact -->
                            <!--                             <option value="phoneNumber">Contact Name</option>-->
                        </select>
                        <button id="addContactBtn" style="display: none;">Add Contact</button>
                        <input type="text" id="phoneNumberInput" placeholder="Enter phone number" style="display: none;">
                        <a href="{{ url_for('voice_blueprint.voice_assist') }}" id="callBtn" class="btn btn-primary">Call</a>
                    </div>
                    <!-- Video Meeting Sub-view -->
                    <div id="videoMeetingView" style="display: none;">
                        <button class="btn btn-secondary backToMain" style="float: left">Back</button>
                        <h1>Start Video Meeting</h1>
                        <select id="videoContactDropdown">
                            <option value="">Select Contact</option>
                            <!-- Add options for each contact -->
                            <!-- <option value="emailAddress">Contact Name</option> -->
                        </select>

                        <button id="addVideoContactBtn" style="display: none;">Add Contact</button>
                        <a href="#" id="startMeetingBtn" class="btn btn-primary">Start Meeting</a>

                    </div>

                    <!-- Email Sub-view -->
                    <div id="emailView" style="display: none;">
                        <button class="btn btn-secondary backToMain" style="float: left">Back</button>
                        <h1>Send Email</h1>
                        <select id="emailContactDropdown">
                            <option value="">Select Contact</option>
                            <!-- Add options for each contact -->
                            <!-- <option value="emailAddress">Contact Name</option> -->
                        </select>
                        <button id="addEmailContactBtn" style="display: none;">Add Contact</button>
                        <textarea id="emailContent" placeholder="Write your email..."></textarea>
                        <a href="#" id="sendEmailBtn" class="btn btn-primary">Send Email</a>

                    </div>


                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-primary m-2" style="font-size: 24px;">
                        <i class="fas fa-phone fa"></i>
                    </button>
                    <button type="button" class="btn btn-primary m-2" style="font-size: 24px;">
                        <i class="fas fa-video fa"></i>
                    </button>
                    <button type="button" class="btn btn-primary m-2" style="font-size: 24px;">
                        <i class="fas fa-envelope fa"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAccountModalLabel">Add New Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-account-form">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="street" class="form-label">Street</label>
                            <input type="text" class="form-control" id="street" required>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" required>
                        </div>
                        <div class="mb-3">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state" required>
                        </div>
                        <div class="mb-3">
                            <label for="zip" class="form-label">ZIP</label>
                            <input type="text" class="form-control" id="zip" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Editing Notes -->
    <div class="modal fade" id="editNotesModal" tabindex="-1" aria-labelledby="editNotesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editNotesModalLabel">Edit Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="modalNoteTextarea" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveModalNote">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Script references -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../static/js/scripts.js"></script>
    <script>
        $(document).ready(function() {
            // DataTables initialization
            var table = $('#myTable').DataTable({
                "order": [[ 0, "asc" ]],
                "pageLength": 10,
                "scrollX": true,
                "drawCallback": function(settings) {
                    // Reinitialize tooltips for the rows in the current page
                    $('.last-interaction-cell, .tier-cell, .state-cell').tooltip({
                        trigger: 'manual',
                        html: true,
                        title: function() {
                            return $(this).attr('data-tooltip-content');
                        }
                    });


                    // Fetch tooltip content for the rows in the current page
                    $('.last-interaction-cell').each(function() {
                        let $thisCell = $(this);
                        let accountId = $thisCell.data('account-id');
                        if (!$thisCell.attr('data-tooltip-content')) { // If tooltip content isn't fetched yet
                            $.get('/last30', { id: accountId }, function(data) {
                                $thisCell.attr('data-tooltip-content', data);
                            });
                        }
                    });

                    $('.tier-cell').each(function() {
                        let $thisCell = $(this);
                        let accountId = $thisCell.data('account-id');
                        if (!$thisCell.attr('data-tooltip-content')) { // If tooltip content isn't fetched yet
                            $.get('/tier', { id: accountId }, function(data) {
                                $thisCell.attr('data-tooltip-content', data);
                            });
                        }
                    });


                }
            });

            // Tooltip initialization for table headers
            $('[data-bs-toggle="tooltip"]').tooltip();

            // Sorting functionality
            $("table tbody").sortable({
                axis: 'y',
                handle: 'td',
                update: function(event, ui) {
                    // Actions when sorting is updated
                }
            });

            // Tooltip initialization and handling for the .last-interaction-cell
            $('body').on('mouseenter', '.last-interaction-cell', function() {
                let accountId = $(this).data('account-id');
                let $thisCell = $(this);
                if (!$thisCell.attr('data-tooltip-content')) { // If tooltip content isn't fetched yet
                    $.get('/last30', { id: accountId }, function(data) {
                        $thisCell.attr('data-tooltip-content', data);
                        $thisCell.tooltip('show');
                    });
                } else {
                    $thisCell.tooltip('show');
                }
            }).on('mouseleave', '.last-interaction-cell', function() {
                $(this).tooltip('hide');
            });

            $('.last-interaction-cell').tooltip({
                trigger: 'manual',
                html: true,
                title: function() {
                    return $(this).attr('data-tooltip-content');
                }
            });

            // Tooltip handling for the .tier-cell and NOT .state-cell
            $('body').on('mouseenter', '.tier-cell', function() {
                let $thisCell = $(this);
                if (!$thisCell.attr('data-tooltip-content')) {
                    $thisCell.attr('data-tooltip-content', "Loading data...");
                    $thisCell.tooltip('show');
                } else {
                    $thisCell.tooltip('show');
                }
            }).on('mouseleave', '.tier-cell', function() {
                $(this).tooltip('hide');
            });

            $('.tier-cell').tooltip({
                trigger: 'manual',
                html: true,
                title: function() {
                    return $(this).attr('data-tooltip-content');
                }
            });

            // Double click event for notes
            $('body').on('dblclick', '.note-textarea', function(e) {
                e.stopPropagation();  // Prevent the event from propagating
                let currentNote = $(this).val();
                let accountId = $(this).data('account-id');
                $('#modalNoteTextarea').val(currentNote).data('account-id', accountId);
                $('#editNotesModal').modal('show');
            });

            $('#saveModalNote').click(function() {
                let updatedNote = $('#modalNoteTextarea').val();
                let accountId = $('#modalNoteTextarea').data('account-id');
                $.post('/save_notes', {
                    account_id: accountId,
                    note_text: updatedNote
                }, function(response) {
                    if(response.status === "success") {
                        $('.note-textarea[data-account-id="' + accountId + '"]').val(updatedNote);
                        $('#editNotesModal').modal('hide');
                    } else {
                        alert('Error: ' + response.message);
                    }
                });
            });
        });

        function resetModalView() {
            // Hide sub-views and show the main content
            $('#makeCallView, #videoMeetingView, #emailView').hide();
            $('#myTabContent, #myTab').show();
        }

        // When the phone button is clicked
        $('.fa-phone').parent().click(function() {
            $('#makeCallView').siblings('div:visible').hide(); // Hide other visible subviews
            $('#myTabContent, #myTab').hide();
            $('#makeCallView').show();
        });

        // When the video button is clicked
        $('.fa-video').parent().click(function() {
            $('#videoMeetingView').siblings('div:visible').hide(); // Hide other visible subviews
            $('#myTabContent, #myTab').hide();
            $('#videoMeetingView').show();
        });

        // When the email button is clicked
        $('.fa-envelope').parent().click(function() {
            $('#emailView').siblings('div:visible').hide(); // Hide other visible subviews
            $('#myTabContent, #myTab').hide();
            $('#emailView').show();
        });

        // Back navigation to main view
        $('.backToMain').click(function() {
            resetModalView();
        });



        // When a contact is selected from the dropdown
        $('#contactDropdown').change(function() {
            if ($(this).val()) {
                // If a contact is selected, show the phone number input
                $('#phoneNumberInput').show().val($(this).val());
            } else {
                // Otherwise, hide it
                $('#phoneNumberInput').hide();
            }
        });

        // When the phone number input changes
        $('#phoneNumberInput').keyup(function() {
            // If there's a value in the input, enable the call button
            if ($(this).val()) {
                $('#callBtn').removeAttr('disabled');
            } else {
                $('#callBtn').attr('disabled', 'disabled');
            }
        });

        $('#viewContactModal').on('hidden.bs.modal', function() {
            resetContactsDropdown();
        });


        // Ensure the main view always starts when the modal is opened or clicked away
        $('#viewContactModal').on('hide.bs.modal', function() {
            resetModalView();
        });

        $('#viewContactModal').on('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = $(event.relatedTarget);

            // Extract data from button
            var accountName = button.data('account-name');

            // Update the modal's content
            var modal = $(this);
            modal.find('#modalAccountName').text(accountName);

            // Get the accountId from the button's data attribute
            let accountId = $(event.relatedTarget).data('account-id');

            fetchContactsForAccount(accountId);
        });

        function resetContactsDropdown() {
            $('#contactDropdown, #videoContactDropdown, #emailContactDropdown').empty();
            $('#contactDropdown, #videoContactDropdown, #emailContactDropdown').append('<option value="">Select Contact</option>');
        }



        function fetchContactsForAccount(accountId) {
            $.get('/get_contacts_for_account/' + accountId, function(data) {
                // Assuming the returned data is the rendered HTML for the contacts
                $('#contactDropdown, #videoContactDropdown, #emailContactDropdown').html(data);
            });
        }

        function fetchInteractions(accountId) {
            $.get('/get_interactions', { account_id: accountId }, function(interactions) {
                // Clearing previous interactions
                $("#calls, #video-meetings, #email").empty();
            });
        }

    </script>



<!--</div>-->
{% endblock %}